/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 mars 2024, 16:09:29
    Author     : Elisa Bothy
*/

:root{
    --color-text:#30303d;
    --color-background:#76899E;
    --color-background-nav-click:#cdddf4;
    --color-background-nav: #86B6FA;
    --color-background-nav-today-info: #D4D68A;
    --color-text-today-info: #597392;
    --color-input-glow: #e6edf7;
    --color-input-shadow: #95a8c2;
    --color-fieldset:#edf1f8;
    --color-fieldset-glow:#e7effa;
    --color-fieldset-shadow:#adc1db;
    --color-text-input:#222227;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header ul, header div{
    position: relative;
    display: flex;
    justify-content: center;
}

header a{
    color:var(--color-text)
}

header ul a {
    position: relative;
    list-style: none;
    margin-top: 0;
    background-color: var(--color-background-nav);
    text-decoration: none;
}

header a :link{
    color:var(--color-text) ;
    text-decoration: none;
}
header a :visited{
    text-decoration: none;
    color: var(--color-text);
}
header a :active{
    color: var(--color-text);
}
header  a :hover{
    color: var(--color-text);
}
header ul a:hover{
    background-color: var(--color-background-nav-click);
    color: var(--color-text);
}

ul, div{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}

ul a{
    width: 50%;
    height: 7vh;
    text-align: center;
    padding-top: 3vh;
}

#content-all{
    display: flex;
    margin-top: 10vh;
}

aside{
    width: 30%;
    height: 200vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#surcont-today-info{
    width: 100%;
    height: 200vh;
    background-color: var(--color-background-nav-click);
    margin: 0 0 0 0;
}

#today-info{
    background-color: var(--color-background-nav-today-info);
    width: 100%;
    height:88vh;
    padding: 3% 0 0 0;
    justify-content: center;
    align-items: center;
    justify-content: right;
    border-radius: 4%;
}

#today-info p{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-today-info);
}

#saint, #sun{
    display: flex;
    align-items: center;
    text-align: center;
}

#sunrise, #sunset, #saint1, #saint2{
    width: 20%;
    padding-top: 3vh;
}

#p-sunset, #p-sunrise{
    font-size: x-large;
    font-weight: 500;
}

#sun-rise img, #sun-set img, #saint-1 img, #saint-2 img{
    width: 40%
}

.text-bold{
    font-weight: 600;
    font-size: x-large;
}

.text-bolder{
    font-weight: 600;
    font-size: xx-large;
}

#date{
    position: relative;
}

main{
    width: 70%;
    height: 200vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.container{
    width: 100%;
    height: 200vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--color-background-nav-click);
    text-transform: uppercase;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: smaller;
    letter-spacing: 1px;
    color: var(--color-text);
}

.container p{
    margin: 0 0 0 0;
}

.container form, .container select{
    z-index: 2;
}

h1, h2, p, h3{
    padding: 2%;
    margin: 0;
    text-align: center;
}

.container input{
    display: flex;
}

fieldset{
    width: 90%;
    padding: 2%;
    border-radius: 4%;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    border-color: transparent;
    box-shadow: 5px 5px 10px var(--color-fieldset-shadow), -10px -10px 20px var(--color-fieldset-glow);
}

legend{
    color: var(--color-text-today-info);
}

form input{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    padding: 0;
    margin : 2% 0 3% 3%;
    border-radius: 10px;
    border: none;
    border-color: var(--color-input-glow) var(--color-input-shadow) var(--color-input-shadow) var(--color-input-glow);
    box-shadow: 5px 5px 10px var(--color-input-shadow), -10px -10px 20px var(--color-input-glow);
}

label{
    text-align: right;
}

input:hover{
    box-shadow: inset 10px 10px 20px var(--color-input-shadow), inset -10px -10px 20px var(--color-input-glow);
}

fieldset input{
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: var(--color-fieldset);
    color: var(--color-text-input);
    border:transparent solid 2px;
}

span{
    padding-top: 3%;
}

#subject{
    max-width: 950px;
    min-width: 800px;
}

textarea{
    max-width: 750px;
    min-width: 600px;
    height: 300px;
    border-radius: 8px;
    font-family: sans-serif;
}

.button{
    text-transform: uppercase;
    display: inline-flex;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--color-background-nav-click);
    color: var(--color-text-input);
}

#login{
    text-transform: none;
}

#articles{
    padding-top: 5vh;
}

article{
    padding-bottom: 3vh;
    padding-left: 5%;
    padding-right: 5%;
}

footer{
    color: var(--color-text-today-info);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}